#option_section{
    width:46%;
    float:left
}

#each_unicorn_section{
    width:46%;
    float:left
}

button{
    margin: 2px;
    border-radius: 0.5rem;
    border-width: 0.25px;
    background-color: rgb(83, 137, 168);
    color: white;
}
/* table size */
@media screen and (max-width: 768px){
    
}

/* mobiles size */
@media screen and (max-width: 480px){
    #option_section{
        width:97%;
        float:left
    }
    
    #each_unicorn_section{
        width:97%;
        float:left
    }
}